<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Alert at X%</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>xyz.itznebbs.batteryflow-reborn</string>
				<key>keyboard</key>
				<string>phone</string>
				<key>placeholder</key>
				<string>10</string>
				<key>key</key>
				<string>kSecondBanner</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Banner Options</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>xyz.itznebbs.batteryflow-reborn</string>
				<key>key</key>
				<string>kSecondBannerTitle</string>
				<key>placeholder</key>
				<string>Banner Title</string>
				<key>autoCaps</key>
				<string>sentences</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>defaults</key>
				<string>xyz.itznebbs.batteryflow-reborn</string>
				<key>key</key>
				<string>kSecondBannerMessage</string>
				<key>placeholder</key>
				<string>Banner Message</string>
				<key>autoCaps</key>
				<string>sentences</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Save</string>
				<key>action</key>
				<string>save</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Other Options</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Vibration</string>
				<key>key</key>
				<string>kSecondBannerVibration</string>
				<key>default</key>
				<false/>
				<key>defaults</key>
				<string>xyz.itznebbs.batteryflow-reborn</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Test Banner</string>
				<key>action</key>
				<string>testSecondBanner</string>
			</dict>
		</array>
		<key>title</key>
		<string>Second Banner</string>
	</dict>
</plist>